@tailwind base;
@tailwind components;
@tailwind utilities;

.home{
  background-image: url(../public/images/home.png);
  background-size: cover;
}
.about{
  background-image: url(../public/images/abt.png);
  background-size: cover;
}

.abtpic{
background-image: url(../public/images/abt.png);
background-size: cover;
}

.abt_book{
  background-image: url(../public/images/abtbk.jpg);
  background-size: cover;
  }

  .preview{
    background-image: url(../public/images/chapters.jpg.png);
    background-size: cover;
    }
.expert{
  background-image: url(../public/images/bg.png);
  background-size: cover;
  }


  @layer base{
    @font-face {
      font-family: "font";
      font-weight: 700;
      src: url('../public/font/font.woff2')format('woff2');
    }
    @font-face {
      font-family: "cooper";
      font-weight: 700;
      src: url('../public/font/cooper.woff2')format("woff2");
    }@font-face {
      font-family: "title";
      font-weight: 700;
      src: url('../public/font/title.woff2')format("woff2");
    }@font-face {
      font-family: "brad";
      font-weight: 700;
      src: url('../public/font/brad.woff2')format("woff2");
    }@font-face {
      font-family: "bold";
      font-weight: 700;
      src: url('../public/font/bold.woff2')format("woff2");
    }
  }
  *{
    font-family: "font",normal;
    margin: 0;
    padding: 0;
  }
  .brad{
    font-family: "brad",normal;
  
  }.bold{
    font-family: "bold",normal;
  
  }
  .title{
    font-family: "cooper",normal;
  }
  .name{
    font-family: "title",normal;

  }
  .form{
    background-image: url(../public/images/maple.jpg);
    background-size: cover;
  }

  .small-home{
    background-image: url(../public/images/mob-home.png);
    
    background-size: cover;

  }