@tailwind base;
@tailwind components;
@tailwind utilities;

.home{
  background-image: url(../public/images/home.png);
  background-size: cover;
}
.about{
  background-image: url(../public/images/abt.png);
  background-size: cover;
}

.abtpic{
background-image: url(../public/images/abt.png);
background-size: cover;
}

.abt_book{
  background-image: url(../public/images/abtbk.jpg);
  background-size: cover;
  }

  .preview{
    background-image: url(../public/images/chapters.jpg.png);
    background-size: cover;
    }
.expert{
  background-image: url(../public/images/bg.png);
  background-size: cover;
  }


  @layer base{
    @font-face {
      font-family: "font";
      font-weight: 700;
      src: url('../public/font/font.woff2')format('woff2');
    }
    @font-face {
      font-family: "cooper";
      font-weight: 700;
      src: url('../public/font/cooper.woff2')format("woff2");
    }
  }
  *{
    font-family: "font",normal;
  }

  .title{
    font-family: "cooper",normal;
  }
  .form{
    background-image: url(../public/images/maple.jpg);
    background-size: cover;
  }